.sp-imagecard-bridge-small {
    display: grid;
    width: 544px;
    height: 256px;
    margin-top: 32px;
    border-radius: 24px;
    overflow: hidden;
    background-image: url('/ximages/images/pessoas/musica/fone/hr/musica-people-bridge(3).jpg');
    background-size: cover;
    background-position: center;
} 
 
.sp-imagecard-bridge-small__area {
    grid-row: 1 / -1;
    margin: 12px;
    position: relative;
    min-height: 74px;
    border-radius: 16px;
    padding: 0px;
    overflow: hidden;
}

.sp-imagecard-bridge-small__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    min-height: 32px;
    padding-top: 8px;
    overflow: hidden;
    border-radius: 16px;
}

.sp-imagecard-bridge-small__header * {
    padding: 0;
    magin: 0;
}

.sp-imagecard-bridge-small__header img {
    
}

.sp-imagecard-bridge-small__body {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 152px;
    margin: 0;
    margin-bottom: 12px;
    overflow: scroll;
    background: none;
}

.sp-imagecard-bridge-small__footer {
    text-align: right;
    width: 100%;
    min-height: 40px;
    position: absolute;
    bottom: -1px;
    left: 0px;
    padding-top: 12px;
    overflow: hidden;
}

.sp-imagecard-bridge-small__footer a {
    text-decoration: none;
}

.sp-imagecard-bridge-small__footer a:hover {
    text-decoration: none;
}

.sp-imagecard-bridge-small:hover {
    background-color: #;
    XXXborder-color: #707070;
    text-decoration: none;
    opacity: 0.9;
}

.sp-imagecard-bridge-small:focus {
    outline: 0;
}

.sp-imagecard-bridge-small:active {
    border-color: #003768;
}

.sp-imagecard-bridge-small.disabled,
.sp-imagecard-bridge-small:disabled {
    opacity: 0.65;
    pointer-events: none;
}

.sp-imagecard-bridge-small .shop-icon-medium {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.sp-imagecard-bridge-small .shop-image-body {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.sp-imagecard-bridge-medium {
    display: grid;
    width: 672px;
    height: 384px;
    max-width: 800px;
    margin-top: 32px;
    border-radius: 24px;
    overflow: hidden;
    background-image: url('/ximages/images/pessoas/musica/fone/hr/musica-people-bridge(4).jpg');
    background-size: cover;
    background-position: center;
}

.sp-imagecard-bridge-medium__area {
    grid-row: 1 / -1;
    margin: 12px;
    position: relative;
    min-height: 74px;
    border-radius: 16px;
    padding: 0px;
    overflow: hidden;
}

.sp-imagecard-bridge-medium__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    min-height: 32px;
    padding-top: 8px;
    overflow: hidden;
    border-radius: 16px;
}

.sp-imagecard-bridge-medium__header * {
    padding: 0;
    magin: 0;
}

.sp-imagecard-bridge-medium__header img {
    
}

.sp-imagecard-bridge-medium__body {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 282px;
    margin: 0;
    padding: 8px;
    margin-bottom: 12px;
    overflow: scroll;
    background: none;
}

.sp-imagecard-bridge-medium__footer {
    text-align: right;
    width: 100%;
    min-height: 40px;
    position: absolute;
    bottom: -1px;
    left: 0px;
    padding-top: 12px;
    overflow: hidden;
}

.sp-imagecard-bridge-medium__footer a {
    text-decoration: none;
}

.sp-imagecard-bridge-medium__footer a:hover {
    text-decoration: none;
}

.sp-imagecard-bridge-medium:hover {
    background-color: #;
    XXXborder-color: #707070;
    text-decoration: none;
    opacity: 0.9;
}

.sp-imagecard-bridge-medium:focus {
    outline: 0;
}

.sp-imagecard-bridge-medium:active {
    border-color: #003768;
}

.sp-imagecard-bridge-medium.disabled,
.sp-imagecard-bridge-medium:disabled {
    opacity: 0.65;
    pointer-events: none;
}

.sp-imagecard-bridge-medium .shop-icon-medium {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.sp-imagecard-bridge-medium .shop-image-body {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.sp-imagecard-bridge-larger {
    display: grid;
    width: 800px;
    height: 512px;
    max-width: 800px;
    margin-top: 32px;
    border-radius: 24px;
    overflow: hidden;
    background-image: url('/ximages/images/pessoas/musica/fone/hr/musica-people-bridge(1).jpg');
    background-size: cover;
    background-position: center;
}

.sp-imagecard-bridge-larger__area {
    grid-row: 1 / -1;
    margin: 12px;
    position: relative;
    min-height: 74px;
    border-radius: 16px;
    padding: 0px;
    overflow: hidden;
}

.sp-imagecard-bridge-larger__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    min-height: 32px;
    padding-top: 8px;
    overflow: hidden;
    border-radius: 16px;
}

.sp-imagecard-bridge-larger__header * {
    padding: 0;
    magin: 0;
}

.sp-imagecard-bridge-larger__header img {
    
}

.sp-imagecard-bridge-larger__body {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 407px;
    margin: 0;
    padding: 8px;
    margin-bottom: 12px;
    overflow: scroll;
    background: none;
}

.sp-imagecard-bridge-larger__footer {
    text-align: right;
    width: 100%;
    min-height: 40px;
    position: absolute;
    bottom: -1px;
    left: 0px;
    padding-top: 12px;
    overflow: hidden;
}

.sp-imagecard-bridge-larger__footer a {
    text-decoration: none;
}

.sp-imagecard-bridge-larger__footer a:hover {
    text-decoration: none;
}

.sp-imagecard-bridge-larger:hover {
    background-color: #;
    XXXXXXborder-color: #707070;
    text-decoration: none;
    opacity: 0.9;
}

.sp-imagecard-bridge-larger:focus {
    outline: 0;
}

.sp-imagecard-bridge-larger:active {
    border-color: #003768;
}

.sp-imagecard-bridge-larger.disabled,
.sp-imagecard-bridge-larger:disabled {
    opacity: 0.65;
    pointer-events: none;
}

.sp-imagecard-bridge-larger .shop-icon-medium {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.sp-imagecard-bridge-larger .shop-image-body {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

@media (max-width: 840px)  
{
    .sp-imagecard-bridge-small {
        width: 224px;
        height: 160px;
    }

    .sp-imagecard-bridge-medium {
        width: 256px;
        height: 192px;
    }

    .sp-imagecard-bridge-larger {
        width: 288px;
        height: 224px;
    }

    .sp-imagecard-bridge-small__body {
        height: 62px;
    }

    .sp-imagecard-bridge-medium__body {
        height: 94px;
    }

    .sp-imagecard-bridge-larger__body {
        height: 125px;
    }

    .sp-imagecard-bridge-small__footer {
        text-align: right;
    }

    .sp-imagecard-bridge-medium__footer {
        text-align: right;
    }

    .sp-imagecard-bridge-larger__footer {
        text-align: right;
}