/* start-small */

.sp-alert-text-bridge-small {
  width: 448px;
  height: 256px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start; 
  text-align: center;
  margin-bottom: 32px;
  margin-right: 32px;
  overflow: hidden;
  border-radius: 24px;
  font-family: "Raleway Regular", Arial, sans-serif;
  border: 1px solid transparent;
  /*dev */
  color: DarkRed;
  background-color: #ffffff;
}

.shop-row-flex > div {
  XXXborder: red 1px solid;
}

.shop-row-flex .shop-align-center {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center; 
}

.sp-alert-text-bridge-small * {
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  text-align: center;
}

.sp-alert-text-bridge-small .sp-alert-text-bridge-small__area {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  overflow: hidden;
  border-radius: 16px;
  /* dev */
  XXXXborder: 1px solid green;
}

.sp-alert-text-bridge-small .sp-alert-text-bridge-small__header,
.sp-alert-text-bridge-small .sp-alert-text-bridge-small__body,
.sp-alert-text-bridge-small .sp-alert-text-bridge-small__footer {
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  min-height: 48px;
  border-bottom: 1px solid blue;
  overflow: hidden;
}

.sp-alert-text-bridge-small .sp-alert-text-bridge-small__header {
  height: 48px;
}

.sp-alert-text-bridge-small .sp-alert-text-bridge-small__body {
  height: 132px;
  background-color: aqua;
}

.sp-alert-text-bridge-small .sp-alert-text-bridge-small__footer {
  height: 92px;
  padding-top: 12px;
  flex-wrap: wrap;
}

.sp-alert-text-bridge-small .sp-alert-text-bridge-small__row {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  width: 100%;
  min-height: 64px;
  gap: 8px;

}

.sp-alert-text-bridge-small .sp-alert-text-bridge-small__column {
  flex: 1;
  min-width: 80px;
  min-height: 80px;
  XXXborder-right: 1px solid red;
  XXXbackground-color: orange;
}

/* start-medium */


.sp-alert-text-bridge-medium {
  width: 576px;
  height: 320px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-align: center;
  margin-right: 32px;
  margin-bottom: 32px;
  overflow: hidden;
  border-radius: 24px;
  font-family: "Raleway Regular", Arial, sans-serif;
  border: 1px solid transparent;
  /* dev */
  color: DarkRed;
  background-color: #ffffff;
}

.sp-alert-text-bridge-medium * {
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  text-align: center;
}

.sp-alert-text-bridge-medium .sp-alert-text-bridge-medium__area {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid transparent;
  /*dev*/
  border: 1px solid green;
}

.sp-alert-text-bridge-medium .sp-alert-text-bridge-medium__header,
.sp-alert-text-bridge-medium .sp-alert-text-bridge-medium__body,
.sp-alert-text-bridge-medium .sp-alert-text-bridge-medium__footer {
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  min-height: 48px;
  border-bottom: 1px solid transparent;
  overflow: hidden;
  border: 1px solid transparent;
  /*dev*/
  border: 1px solid blue;
}

.sp-alert-text-bridge-medium .sp-alert-text-bridge-medium__header {
  height: 48px;
}

.sp-alert-text-bridge-medium .sp-alert-text-bridge-medium__body {
  height: 188px;
}

.sp-alert-text-bridge-medium .sp-alert-text-bridge-medium__footer {
  height: 92px;
  padding-top: 12px;
  flex-wrap: wrap;
}

.sp-alert-text-bridge-medium .sp-alert-text-bridge-medium__row {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  width: 100%;
  min-height: 64px;
  gap: 8px;
}

.sp-alert-text-bridge-medium .sp-alert-text-bridge-medium__column {
  flex: 1;
  min-width: 80px;
  min-height: 128px;
  border-right: 1px solid red;
  XXXbackground-color: orange;
}

/* star-large */

.sp-alert-text-bridge-large {
  width: 736px;
  height: 384px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  text-align: center;
  margin-right: 32px;
  margin-bottom: 32px;
  overflow: hidden;
  border-radius: 24px;
  font-family: "Raleway Regular", Arial, sans-serif;
  border: 1px solid transparent;
  /* DEV */
  color: DarkRed;
  background-color: #ffffff;
}

.sp-alert-text-bridge-large * {
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  text-align: center;
}

.sp-alert-text-bridge-large .sp-alert-text-bridge-large__area {
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid transparent;
  /*dev */
  border: 1px solid green;
}

.sp-alert-text-bridge-large .sp-alert-text-bridge-large__header,
.sp-alert-text-bridge-large .sp-alert-text-bridge-large__body,
.sp-alert-text-bridge-large .sp-alert-text-bridge-large__footer {
  flex-direction: column;
  align-items: start;
  justify-content: start;
  width: 100%;
  min-height: 32px;
  border-bottom: 1px solid blue;
  overflow: hidden;
}

.sp-alert-text-bridge-large .sp-alert-text-bridge-large__header {
  height: 48px;
}

.sp-alert-text-bridge-large .sp-alert-text-bridge-large__body {
  height: 252px;
}

.sp-alert-text-bridge-large .sp-alert-text-bridge-large__footer {
  height: 92px;
  padding-top: 12px;
  flex-wrap: wrap;
}

.sp-alert-text-bridge-large .sp-alert-text-bridge-large__row {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  width: 100%;
  min-height: 64px;
  gap: 8px;
}

.sp-alert-text-bridge-large .sp-alert-text-bridge-large__column {
  flex: 1;
  min-width: 80px;
  min-height: 192px;
  border-right: 1px solid red;
  XXXbackground-color: orange;
}

/* FOOTER */

.sp-alert-text-bridge-small__footer,
.sp-alert-text-bridge-medium__footer,
.sp-alert-text-bridge-large__footer {
    /*  background-color: green;*/
}

@media (max-width: 600px) {
  .sp-alert-text-bridge-small,
  .sp-alert-text-bridge-medium,
  .sp-alert-text-bridge-large {
    width: 100%;
  }

}


/* end-large */