.sp-videocard-square-small {
    display: grid; 
    width: 256px; 
    height: 256px;
    margin-top: 32px;
    border-radius: 24px;
    overflow: hidden; 
} 
 
.sp-videocard-square-small__area {
    grid-row: 1 / -1;
    position: relative;
    min-height: 74px;
    border-radius: 16px;
    padding: 0px;
    overflow: hidden;
    z-index: 1;
}
 
.sp-videocard-square-small__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    min-height: 32px;
    padding-top: 8px;
    padding-left: 8px;
    overflow: hidden;
    border-radius: 16px;
}

.sp-videocard-square-small__header * {
    padding: 0;
    magin: 0;
}

.sp-videocard-square-small__header img {
    
}

.sp-videocard-square-small__body {
    width: 100%;
    height: 220px;
    margin: 0;
    margin-bittin: 12px;
    overflow: scroll;
}

.sp-videocard-square-small__body::-webkit-scrollbar {
    height: 0;
}

.sp-videocard-square-small__footer {
    text-align: right;
    width: 100%;
    min-height: 40px;
    position: absolute;
    bottom: -1px;
    left: 0px;
    padding: 12px;
    overflow: hidden;
}

.sp-videocard-square-small__footer a {
    text-decoration: none;
}

.sp-videocard-square-small__footer a:hover {
    text-decoration: none;
}

.sp-videocard-square-small:hover {
    background-color: #;
    border-color: #707070;
    text-decoration: none;
    border: solid 1px #f2f2f2;
    opacity: 0.9;
}

.sp-videocard-square-small:focus {
    outline: 0;
}

.sp-videocard-square-small:active {
    border-color: #003768;
}

.sp-videocard-square-small.disabled,
.sp-videocard-square-small:disabled {
    opacity: 0.65;
    pointer-events: none;
}

.sp-videocard-square-small .shop-icon-medium {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.sp-videocard-square-small .shop-video-body {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.sp-videocard-square-medium {
    display: grid;
    width: 384px;
    height: 384px;
    max-width: 800px;
    margin-top: 32px;
    border-radius: 24px;
    overflow: hidden;
}

.sp-videocard-square-medium__area {
    grid-row: 1 / -1;
    position: relative;
    min-height: 74px;
    border-radius: 16px;
    padding: 0px;
    overflow: hidden;
    z-index: 1;
}

.sp-videocard-square-medium__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    min-height: 32px;
    padding-top: 8px;
    padding-left: 8px;
    overflow: hidden;
    border-radius: 16px;
}

.sp-videocard-square-medium__header * {
    padding: 0;
    magin: 0;
}

.sp-videocard-square-medium__header img {
    
}

.sp-videocard-square-medium__body {
    width: 100%;
    height: 360px;
    margin: 0;
    padding: 8px;
    margin-bittin: 12px;
    overflow: scroll;
}

.sp-videocard-square-medium__body::-webkit-scrollbar {
    height: 0;
}

.sp-videocard-square-medium__footer {
    text-align: right;
    width: 100%;
    min-height: 40px;
    position: absolute;
    bottom: -1px;
    left: 0px;
    padding: 12px;
    overflow: hidden;
}

.sp-videocard-square-medium__footer a {
    text-decoration: none;
}

.sp-videocard-square-medium__footer a:hover {
    text-decoration: none;
}

.sp-videocard-square-medium:hover {
    background-color: #;
    border-color: #707070;
    text-decoration: none;
    border: solid 1px #f2f2f2;
    opacity: 0.9;
}

.sp-videocard-square-medium:focus {
    outline: 0;
}

.sp-videocard-square-medium:active {
    border-color: #003768;
}

.sp-videocard-square-medium.disabled,
.sp-videocard-square-medium:disabled {
    opacity: 0.65;
    pointer-events: none;
}

.sp-videocard-square-medium .shop-icon-medium {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.sp-videocard-square-medium .shop-video-body {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.sp-videocard-square-larger {
    display: grid;
    width: 512px;
    height: 512px;
    max-width: 800px;
    margin-top: 32px;
    border-radius: 24px;
    overflow: hidden;
}

.sp-videocard-square-larger__area {
    grid-row: 1 / -1;
    position: relative;
    min-height: 74px;
    border-radius: 16px;
    padding: 0px;
    overflow: hidden;
    z-index: 1;
}

.sp-videocard-square-larger__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    min-height: 32px;
    padding-top: 8px;
    padding-left: 8px;
    overflow: hidden;
    border-radius: 16px;
}

.sp-videocard-square-larger__header * {
    padding: 0;
    magin: 0;
}

.sp-videocard-square-larger__header img {
    
}

.sp-videocard-square-larger__body {
    width: 100%;
    height: 580px;
    margin: 0;
    padding: 8px;
    overflow: scroll;
}

.sp-videocard-square-larger__body::-webkit-scrollbar {
    height: 0;
}

.sp-videocard-square-larger__footer {
    text-align: right;
    width: 100%;
    min-height: 40px;
    position: absolute;
    bottom: -1px;
    left: 0px;
    padding: 12px;
    overflow: hidden;
}

.sp-videocard-square-larger__footer a {
    text-decoration: none;
}

.sp-videocard-square-larger__footer a:hover {
    text-decoration: none;
}

.sp-videocard-square-larger:hover {
    background-color: #;
    border-color: #707070;
    text-decoration: none;
    border: solid 1px #f2f2f2;
    opacity: 0.9;
}

.sp-videocard-square-larger:focus {
    outline: 0;
}

.sp-videocard-square-larger:active {
    border-color: #003768;
}

.sp-videocard-square-larger.disabled,
.sp-videocard-square-larger:disabled {
    opacity: 0.65;
    pointer-events: none;
}

.sp-videocard-square-larger .shop-icon-medium {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
}

.sp-videocard-square-larger .shop-video-body {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
}

.sp-videocard-square__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

@media (max-width: 840px)  
{
    .sp-videocard-square-small {
        width: 192px;
        height: 192px;
    }

    .sp-videocard-square-medium {
        width: 224px;
        height: 224px;
    }

    .sp-videocard-square-larger {
        width: 256px;
        height: 256px;
    }

    .sp-videocard-square-small__footer {
        text-align: center;
    }

    .sp-videocard-square-medium__footer {
        text-align: center;
    }

    .sp-videocard-square-larger__footer {
        text-align: right;
    }
}