[class^="sp-image-"] {
    border: 4px solid grey;
    background-color: white;
    margin-bottom: 12px;
    margin-right: 12px;
    border-radius: 16px;
}

[class^="sp-image-"]:hover {
    border: 4px solid blue;
    filter: brightness(30%);
}

/* square */
.sp-image-square-default__small {
    width: 80px;
    height: 80px;
}

.sp-image-square-default__medium {
    width: 160px;
    height: 160px;
}

.sp-image-square-default__large {
    width: 320px;
    height: 320px;
}

/* bridge */

.sp-image-bridge-default__small {
    width: 160px;  
    height: 80px;
}

.sp-image-bridge-default__medium {
    width: 320px;  
    height: 160px;
}

.sp-image-bridge-default__large {
    width: 640px;  
    height: 320px;
}

/* tower */

.sp-image-tower-default__small {
    width: 80px;
    height: 160px; 
}

.sp-image-tower-default__medium {
    width: 160px;
    height: 320px; 
}

.sp-image-tower-default__large {
    width: 320px;
    height: 640px;  
}