/* small */
.sp-gallery-image-bridge-small {
    width: 544px; 
    height: 416px;
    padding: 16px;
    display: flex;  
    flex-direction: column; 
    align-items: flex-start;
    justify-content: start; 
    text-align: left;  
    margin-bottom: 32px;
    margin-right: 32px;
    overflow: hidden;
    border-radius: 24px;
    font-family: "Raleway Regular", Arial, sans-serif;
    border: 1px solid #999999;
    background-color: #ffffff;
}   

.sp-gallery-image-bridge-small * {
    box-sizing: border-box; 
    text-align: left;
}

.sp-gallery-image-bridge-small .sp-gallery-image-bridge-small__area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    overflow: hidden;
}

.sp-gallery-image-bridge-small .sp-gallery-image-bridge-small__header,
.sp-gallery-image-bridge-small .sp-gallery-image-bridge-small__body,
.sp-gallery-image-bridge-small .sp-gallery-image-bridge-small__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    height: 100%;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0; 
}

.sp-gallery-image-bridge-small .sp-gallery-image-bridge-small__header {
    width: 0px;
}

.sp-gallery-image-bridge-small .sp-gallery-image-bridge-small__body {
    width: 320px;
    height: 160px;
    align-items: center;
    justify-content: center;
}

.sp-gallery-image-bridge-small .sp-gallery-image-bridge-small__footer {
    width: 176px;
    padding-top: 12px;
    margin-left: 16px;
    flex-direction: column;
}

.sp-gallery-image-bridge-small__gallery-more {
    width: 160px;
    height: 80px;
    background-color: #f0f4ff; 
    font-size: 32px;
    font-weight: bold;  
    border-radius: 16px;  
    display: flex;
    align-items: center; 
    justify-content: center; 
    cursor: pointer;  
    border: 1px solid #d4d9e6;
    transition: background-color 0.3s ease, color 0.3s ease; 
}
 
.sp-gallery-image-bridge-small__gallery-more:hover { 
    border: 1px solid #0D6EFD;
}

/* medium */
.sp-gallery-image-bridge-medium {
    width: 860px; 
    height: 560px;
    padding: 16px; 
    display: flex; 
    flex-direction: column; 
    align-items: flex-start;
    justify-content: start; 
    text-align: left;  
    margin-bottom: 32px;
    margin-right: 32px;
    overflow: hidden;
    border-radius: 24px;
    font-family: "Raleway Regular", Arial, sans-serif;
    border: 1px solid #999999;
    background-color: #ffffff;
}   

.sp-gallery-image-bridge-medium * {
    box-sizing: border-box; 
    text-align: left;
}

.sp-gallery-image-bridge-medium .sp-gallery-image-bridge-medium__area {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    overflow: hidden;
}

.sp-gallery-image-bridge-medium .sp-gallery-image-bridge-medium__header,
.sp-gallery-image-bridge-medium .sp-gallery-image-bridge-medium__body,
.sp-gallery-image-bridge-medium .sp-gallery-image-bridge-medium__footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    height: 100%;
    overflow: hidden;
    flex-grow: 0;
    flex-shrink: 0; 
}

.sp-gallery-image-bridge-medium .sp-gallery-image-bridge-medium__header {
    width: 0px;
}

.sp-gallery-image-bridge-medium .sp-gallery-image-bridge-medium__body {
    height: 240px;
    width: 480px;
    align-items: center;
    justify-content: center;
}

.sp-gallery-image-bridge-medium .sp-gallery-image-bridge-medium__footer {
    padding-top: 12px;
    margin-left: 16px;
    width: 336px;
    flex-direction: column;
}

.sp-gallery-image-bridge-medium__gallery-more {
    width: 320px;
    height: 160px;
    background-color: #f0f4ff; 
    font-size: 64px;
    font-weight: bold;  
    border-radius: 16px;  
    display: flex;
    align-items: center; 
    justify-content: center; 
    cursor: pointer;  
    border: 1px solid #d4d9e6;
    transition: background-color 0.3s ease, color 0.3s ease; 
}
 
.sp-gallery-image-bridge-medium__gallery-more:hover { 
    border: 1px solid #0D6EFD;
}

/* sp-gallery-image__wrraper-image */
.sp-gallery-image__wrraper-image {
    display: flex;
    align-items: center; 
    width: 100%; 
    height: 100%;
    transition: transform 0.3s ease-in-out;
}

.sp-gallery-image__wrraper-image img {
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}  

@media (max-width: 768px) {

}