[class^="sp-grid-one-item"] img {
	width: 300px;
	height: 300px;
}

.sp-image-square-large{ 
	width: 360px;
	height: 360px;
	margin: 12px;
	border: solid 4px grey;
	transition-duration: 0.2s;
	transition-delay: 0.2s;
}

.sp-image-square-large:hover{
	border: solid 4px blue;
	border-radius: 48px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition-duration: 0.2s;
	transition-delay: 0.2s;
	cursor: -webkit-zoom-in;
}

.sp-video-tower-large { 
	width: 360px;
	height: 360px;
	margin: 12px;
	border: solid 4px grey;
	transition-duration: 0.2s;
	transition-delay: 0.2s;
}


.sp-video-tower-large:hover{
	border: solid 4px blue;
	border-radius: 48px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition-duration: 0.2s;
	transition-delay: 0.2s;
	cursor: pointer;
}


[class^="sp-grid-"]>div {
	border-bottom: solid 4px #333333;
}

[class^="sp-grid-"] img {

	width: 200px;
	height: 200px;
}

[class^="sp-grid-"]>div:nth-child(even) {
	background-color: #e1e1e1;
}

[class^="sp-grid-"]>div:nth-child(odd) {
	background-color: #cccccc;
}