[class^="sp-video-tower-default__small"],
[class^="sp-video-tower-default__medium"],
[class^="sp-video-tower-default__large"] {
    border: 4px solid grey;
    background-color: white;
    margin-bottom: 12px;
    margin-right: 12px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

[class^="sp-video-tower-default__small"]:hover,
[class^="sp-video-tower-default__medium"]:hover,
[class^="sp-video-tower-default__large"]:hover {
    border: 4px solid grey;
    filter: brightness(70%);
    cursor: pointer;
}

[class^="sp-video-tower-default__small"]:hover::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-image: url('/ximages/images/widget/medium/play-circle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 50%; /* Fundo redondo */
    z-index: 2;
    pointer-events: none;
}

[class^="sp-video-tower-default__medium"]:hover::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-image: url('/ximages/images/widget/medium/play-circle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 50%; /* Fundo redondo */
    z-index: 2;
    pointer-events: none;
}

[class^="sp-video-tower-default__large"]:hover::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
    height: 60px;
    background-image: url('/ximages/images/widget/medium/play-circle.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
    border-radius: 50%; /* Fundo redondo */
    z-index: 2;
    pointer-events: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

/* square */
.sp-video-square-default__small {
    width: 80px;
    height: 80px;
}

.sp-video-square-default__medium {
    width: 160px;
    height: 160px;
}

.sp-video-square-default__large {
    width: 320px;
    height: 320px;
}

/* bridge */
.sp-video-bridge-default__small {
    width: 160px;
    height: 80px;
}

.sp-video-bridge-default__medium {
    width: 320px;
    height: 160px;
}

.sp-video-bridge-default__large {
    width: 640px;
    height: 320px;
}

/* tower */
.sp-video-tower-default__small {
    width: 80px;
    height: 160px;
}

.sp-video-tower-default__medium {
    width: 160px;
    height: 320px;
}

.sp-video-tower-default__large {
    width: 320px;
    height: 640px;
}